


    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/javascripts/script.js"></script>

</body>
</html>
