<!-- Image and text -->
<nav class="navbar navbar-dark bg-light  fixed-top">
    <a class="navbar-brand" href="#">
     Inn<span class="logo">A</span>pps
     <p style="font-size: 12px; color: rgb(51, 51, 51);">Welcome <%= user %> </p>

    </a>

    <a href="/login/logout" onclick="return confirm('kamu yakin mau keluar?')"> <img src="/images/logout.svg" alt="logo" class="mr-5" height="20"></a>
  </nav>